<!doctype html>
<html ng-app="jh.calendar.demo" ng-controller="CalendarController">
    <head>
        <script src="bower_components/angular/angular.js"></script>
        <script src="calendar.js"></script>
        <script>
            angular.module('jh.calendar.demo', ['jh.calendar'])
                .controller('CalendarController', function ($scope) {
                    var changeMonth = function(offset) {
                        var d = $scope.current_date;
                        d.setMonth(d.getMonth() + offset);
                        $scope.current_date = new Date(d);
                    };
                    $scope.current_date = new Date(2014, 12);
                    $scope.nextMonth = function () {
                        changeMonth(1);
                    };
                    $scope.prevMonth = function () {
                        changeMonth(-1);
                    };
                    $scope.alertDay = function (day) { alert('You clicked ' + $scope.current_date.getDate()); };
                });
        </script>

        <link href="http://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
        <link href="calendar.min.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <h1>Calendar Demo Page</h1>

        <a ng-click="prevMonth()">Prev Month</a> | <a ng-click="nextMonth()">Next Month</a>

        <calendar for="current_date" on-click="alertDay()"></calendar>
    </body>
</html>
